.app__aboutus{
    position: relative;
}

.app__aboutus-overlay{
    position: absolute; 
    inset: 0;
}

.app__aboutus-overlay img{
    /* width: 390px; */
    opacity: 0.3;
    height: 400px;
    z-index: 0 ;
}

.app__aboutus-content{
    width: 100%;
    z-index: 2;
}

.app__aboutus-content_about{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-align: right;
}

.app__aboutus-content_namaste{
    margin: 2rem 4rem;
}

.app__aboutus-content_namaste img{
    width: 70vb;
    /* height: 900px; */
}

/* our History */

.app__aboutus-content_history{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;

    text-align: left;
}
.app__aboutus-content_about p,
.app__aboutus-content_history p{
    margin: 2rem 0;
    color: whitesmoke;
}

/* Media Queries */


@media screen and (max-width: 2000px){
    .app__aboutus-content_about p{
        text-align: center;
    }


    .app__aboutus-content_namaste img{
        width: 20em;
    }
    .app__aboutus-content_about p,
    .app__aboutus-content_history p{
    margin: 4rem 0;
    }
}


/* @media screen and (max-width: 1200px ){
    .app__aboutus-content_about p{
        text-align: start;
    }

    .app__aboutus-content_namaste{
        width: 30vb;
        padding: 0;
    }
    .app__aboutus-content_namaste img{
        width: 10em;
        margin: 0;
        
    }
    .app__aboutus-overlay img{
        padding: 0 15px;
        width: 35em;
    }
} */

@media screen and (max-width: 1200px){
    .app__aboutus-content{
        flex-direction: column;
    }
    .app__aboutus-overlay{
       display: flex;
       justify-content: center;
    }
    
    .app__aboutus-overlay img{
        padding: 0 15px;
        width: 30em;
    }

    .app__aboutus-content_namaste{
        margin: 4rem 0;
    }
    .app__aboutus-content_namaste img{
        padding: 15px 0 0 0;
       width: 15em;
    }
   
}

@media screen and (max-width: 650px){
    .app__aboutus-overlay img{
        height: 180px;
    }
    .app__aboutus-content_namaste img{
        padding-top: 6rem;
        width: 33vb;
    }
}